*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin:0;
  padding:0;
}

body{
  height: 100vh;
}

.flex{

  display:flex;

  &-fd{
    &-row{flex-direction: row;}
    &-row-rev{flex-direction: row row-reverse;}
    &-col{flex-direction: column;}
    &-col-rev{flex-direction: column-reverse;}
  }

  &-jc{
    &-c{justify-content: center;}
    &-sa{justify-content: space-around;}
    &-sb{justify-content: space-between;}
    &-se{justify-content: space-evenly;}
  }
  
  &-ai{
    &-c{align-items: center;}
    &-sa{align-items: space-around;}
    &-sb{align-items: space-between;}
    &-se{align-items: space-evenly;}
  }
  
}