
.ul-log{

  font-size: 18px;
  overflow-y:scroll;
  
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 15px;
  line-height: 28px;

  position:fixed;

  border-radius: 8px;
  border-width: 1.5px;
  background-color: rgb(203, 248, 253);

  height: 36vh;
  width: 25vw;
  top: 22vh;
  right:1vh;

  line-height: 28px;

  &::-webkit-scrollbar {
    display: none;
  }

  li{
    list-style: none;
    text-align: justify;
    border-radius: 20px;
    padding: 5px;

  }

}

.div-block{

  position:fixed;
  height: 17vh;
  width: 90vw;
  top: 61vh;
  left: 5vw;

  background-color:$dark-grey;
  opacity: 0.9;
  border-radius: 20px;

  p{
    font-size: 22px;
    border-radius: 20px;
    padding:10px;
    
    background-color: $light-grey;
    color: $dark-grey;
  }

  &-off{
    display: none;
  }

}